.App {
  text-align: center;
}
.table {
  margin: auto;
  width: 90%;
}
.td-Input {
  border-radius: 5px;
  padding: 0px 10px;
  width: 100%;
  max-width: 200px;
}

.form--custom {
  width: 0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  transition: 0.3s ease;
}

.form--custom.show {
  width: 100%;
  opacity: 1;
}
