* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: #123456;
  padding: 10px 50px;
}
.header__logo {
  height: 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.header__logo--container {
  height: 100%;
  overflow: hidden;
  margin: 0 30px;
}
.header__logo--image {
  object-fit: cover;
  height: 100%;
}
.navbar {
  flex-grow: 1;
}
.navbar__container {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.navbar__item {
  color: #ffffff;
  cursor: pointer;
}
.navbar__item--text {
  border-radius: 15px;
  text-decoration: none;
  font-weight: bolder;
  color: inherit;
  padding: 20px;
  transition: 0.3s ease;
}

.navbar__item--text:hover {
  padding: 20px 60px;
  background-color: bisque;
  color: #000000;
}

.weather {
  display: flex;
  justify-content: center;
}
.weather__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 300px;
  background-color: #123456;
  box-shadow: 0 0 10px #000000;
  margin: 30px;
}
.card__head {
}
.card__head .title {
  text-align: center;
  font-size: 32px;
  font-weight: 100;
  margin: 20px 0;
  color: #ffffff;
  padding: 10px;
}
.card__head .icon {
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 50%;
  box-shadow: 0 0 30px rgb(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.card__head .icon .icon-link {
  width: 150px;
}

.card__head .temper {
  padding: 20px 0;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}
.card__head .temper-description {
  text-align: center;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: 100;
  color: #ffffff;
}
.weather__card .info {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
}
.info__row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.info__row--title {
  font-weight: 300;
  color: gray;
}
.info__row--subtitle {
  color: gray;
  font-size: bold;
}
